<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class='text-center'>
  <div id='modal-container'>
    <div id='groups-input'>

      <h1>Choose a Muscle Group</h1>


      <% @groups.each do |g| %>
      <%= link_to g.name, "/drills/new?day_id=#{@day}&group_id=#{g.id}", class:'btn btn-primary', remote: true, style:'margin:5px' %>
      <br>

      <div class="modal" id="monday" title="unique">
        <div class='modal-dialog'>
          <div class='modal-content modal-lg' style='padding: 20px'>

          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>

</div>
