<div style='background-color:white' class='text-center'>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h1 id='title' style='color: red'>Program by Other Users</h1>

  <hr>
  <% arr_trainer = [] %>
  <% arr_group =[] %>

  <% @drills.each do |x| %>
    <% if !arr_trainer.include?(x.user) %>
      <% arr_trainer.push(x.user) %>
    <% end %>

    <% if !arr_group.include?(x.exercise.group.name) %>
      <% arr_group.push(x.exercise.group.name) %>
    <% end %>
  <% end %>

  <% arr_trainer.each_with_index do |x, i| %>
    <h3><%= link_to "#{x.full_name}", filter_path(user_id: x.id), remote:true %></h3>
  <% end %>

    <div id='program'>

    </div>

</div>
