@import 'variable';


body {
  background: url('http://cdn.wallpapersafari.com/10/85/wzAS2B.jpg') no-repeat center center fixed;
  background-size: cover;
}


.workout-home > h1{
  text-align: center;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  color: red;
  font-size: 50px;
}

.btn-default:hover{
  background-color: red;
  @include transition(all 0.6s ease-in-out);
  color:white;
}

.navbar-default{
  background-color: rgba(255,255,255,0.7);
  border: none;
}



#login1, #signup1, #findprogram1, #findgym1, #myprogram1, #user1, #logout1 {
  color:red;
  font-size:15px;
  font-weight: bold
}

#title1 {
  font-family: impact;
  font-size:25px;
  color:red
}
